body{
    text-align: center;
    vertical-align: auto;
    padding: 250px;
    background-color: rgb(41, 39, 39);
}

.values{
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.startButton {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.pauseButton {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.stopButton {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.resetButton {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}
button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}